.container {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: stretch;    
}

.tile {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 5px;
}